# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

RoyalAssistant/bin/Release/RoyalAssistant.vshost.exe
RoyalAssistant/bin/Release/SharpDX.Direct3D9.dll
RoyalAssistant/bin/Release/SharpDX.dll
RoyalAssistant/RoyalAssistant.suo
RoyalAssistant/bin/Release/RoyalAssistant.vshost.exe.config
RoyalAssistant/bin/Release/RoyalAssistant.vshost.exe.manifest
RoyalAssistant/RoyalAssistant.suo
RoyalAssistant/RoyalAssistant.suo
RoyalAsheHelper/bin/Release/RoyalAsheHelper.vshost.exe
RoyalAsheHelper/bin/Release/RoyalAsheHelper.vshost.exe.manifest
RoyalAsheHelper/bin/Release/SharpDX.Direct3D9.dll
RoyalAsheHelper/bin/Release/SharpDX.dll
RoyalAsheHelper/bin/Release/SharpDX.Toolkit.dll
RoyalAsheHelper/bin/Release/SharpDX.Toolkit.xml